.red{
    height: 1000px;
    background-color: white;
}

.blue{
    background-color: blue;
    height: 500px;
}

.green{
    background-color: green;
    height: 500px;
}

.orange{
    background-color: orange;
    height: 500px;
}

.black{
    background-color: black;
    height: 500px;
}
