/*Style pour le body*/
body {
  background : white;
  width: 100%;
  height: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: auto;
}

/*Style pour la partie des info d'en haut*/
.barre-head{
    display: flex;
    align-items: flex-start;
    text-align: center;
}
#compte{
    flex-grow: 3;
    text-align: left;
}
#news{
    flex-grow: 2;
}
#mail{
    flex-grow: 1;
}
#decon{
    flex-grow: 1;
    height: 2%;
    width: 5%;
}

/*Style pour la partie du siret*/
.siret{
    font-size: 12px;
    text-align: right;
    margin-right: 4%;
    margin-top: 0.5%;
}
/*Style pour la barre d'en haut et ses sections*/
.barre-home{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    width: 95%;
    margin-left: 2%;
    margin-top: 1%;
}
#icone{
    border: 2x solid black;
    background-color: rgb(74, 88, 219);
    font-size: 90%;
}
/*Animation boutton icone*/
#icone:hover{
    background-color: green;
}
#info{
    border: 2px solid black;
    flex-grow: 1;
}
/*Animation boutton info*/
#info:hover{
    background-color: green;
}
#autor{
    border: 2px solid black;
    flex-grow: 1;
}
/*Animation boutton autor*/
#autor:hover{
    background-color: green;
}
#sal{
    border: 2px solid black;
    flex-grow: 1;
}
/*Animation boutton sal*/
#sal:hover{
    background-color: green;
}
#cot{
    border: 2px solid black;
    flex-grow: 1;
}
/*Animation boutton cot*/
#cot:hover{
    background-color: green;
}
#con{
    border: 2px solid black;
    flex-grow: 1;
}
/*Animation boutton con*/
#con:hover{
    background-color: green;
}
#op{
    border: 2px solid black;
    flex-grow: 1;
}
/*Animation boutton op*/
#op:hover{
    background-color: green;
}

/*Style pour le nom de l'entreprise*/
.entreprise{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 50%;  
    margin-top: 1%;
}
/*Style pour la barre de gauche et ses sections*/
.barre-left{
    height: 100%;
    width: 50%; 
    display: inline-block;
    margin-top: 1%;
    margin-left: 1%;
}
.coordonnees{
    height: 70%;
    width: 90%;
    border: 3px solid black;
    line-height: 2.5;
    margin-top: 1%;
}
.coord{
    font-size: 25px;
    font-weight: bold;    
}
.sir{
    font-size: 18px;
}
.adress{
    font-size: 18px;
}
.tlf{
    font-size: 18px;
}
.adress-mail{
    font-size: 18px;
}
.operations{
    border: 3px solid black;
    height: 100%;
    width: 90%;
    margin-top: 2%;
}
#tab{
    font-size: 25px;
    font-weight: bold;
}
table{
    border: 2px solid black;
    font-weight: normal;
    font-size: 14px;
    margin-left: 10%;
    margin-bottom: 2%;
}
tr td {
border-left: 2px solid black;
}
tr td:nth-child(1) {
border-left:none;
}
#l1{
    background-color: rgb(156, 143, 143);
    text-align: left;
}
#l2{
    background-color: rgb(201, 188, 188);
    text-align: left;
}
#l3{
    background-color: rgb(241, 232, 232);
    text-align: left;
}
#l4{
    background-color: rgb(201, 188, 188);
    text-align: left;
}
#l5{
    background-color: rgb(241, 232, 232);
    text-align: left;
}
#l6{
    background-color: rgb(201, 188, 188);
    text-align: left;
}
#l7{
    background-color: rgb(241, 232, 232);
    text-align: left;
}
#lnum{
    text-align: center;
}

/*Style pour la barre de droite et ses sections*/
.barre-right{
    height: 100%;
    width: 49%;
    float:right;
}
.connexion{
    font-size: 12px;
}
.barre-urgent{
    height: 60%;
    width: 95%;
    border: 3px solid black ;
    border-style: dashed;
    margin-top: 1.5%;
}
.ur-sign{
    font-size: 40px;
    margin-left: 4%;
}
.urgent{
    font-size: 20px;
    margin-left: 2.5%;
    margin-bottom: 3%;
}
.ur-text{
    font-size: 16px;
    width: 75%;
    margin-left: 15%;
    margin-top: -10%;
    margin-bottom: 2%;
     
}
.barre-mil{
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 2%;
}
.barre-messagerie{
    height: 100%;
    width: 30%;
    border: 3px solid black ;
    text-align: center;
    line-height: 1.25;
}
.message{
    font-size: 25px;
    font-weight: bold;
}
.mes-sign{
    font-size: 35px;
}
.mes-text{
    font-size: 17px;
    width: 95%;
    margin-bottom: 7% ;
}
.barre-contact{
    border: 3px solid black ;
    width: 63.5%;
    height: 100%;
    line-height: 1.7;
    font-size: 16px;
    margin-left:1%;
    
}
.contact-btp{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.conseiller{
    text-align: center;  
}
.con-tlf{
    text-align: center;  
}
.con-mail{
    text-align: center; 
    margin-bottom: 2%; 
}
.barre-important{
    width: 95%;
    height: 67%;
    border: 3px solid black ;
    line-height: 1.75;
    font-size: 15px;
    margin-top: 2.5%;
}
.important{
    font-size: 25px;
    font-weight: bold;
}
.triangle{
    font-size: 20px;
}
.nouveau{
    width: 80%;
    margin-top: -3.5%;
    margin-left: 3%;

}
.arret{
    width: 80%;
    margin-top: -3.5%;
    margin-left: 3%;
}
.exonerations{
    width: 80%;
    margin-top: -3.5%;
    margin-left: 3%;
}
.inscription{
    width: 80%;
    margin-top: -3.5%;
    margin-left: 3%;
    margin-bottom: 2%;
}